.client-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: center;

  &__item {
    flex-basis: 46.66%;
    max-width: 210px;
  }

  &__box {
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 210px;

    &:hover,
    &:focus {
      border: 1px solid $blue;
      transition: $transition;
    }
    &:hover svg,
    &:focus svg {
      fill: $blue;
      transition: $transition;
    }
  }
  &__icon {
    width: 80px;
    height: 45px;
    fill: #afb1b8;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list {
    &__item {
      flex-basis: 33.33%;
      max-width: 226px;
    }
    &__box {
      max-width: 226px;
    }
    &__icon {
      width: 106px;
      height: 60px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .client-list {
    display: inline-flex;
    gap: 30px;
    width: 1170px;
    &__item {
      max-width: 170px;
    }

    &__box {
      height: 92px;
      width: 170px;
    }
    &__icon {
      width: 106px;
      height: 60px;
    }
  }
}
@media screen and (max-width: 480px) {
  .client-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    &__item {
      flex-basis: 46.66%;
    }
  }
}
