.form {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: calc(100% - 30px);
  height: 609px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  & a {
    color: $blue;
    font-size: 14px;
  }
  &__label {
    display: block;
    position: relative;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    text-align: left;
    line-height: 1.2;
  }

  &__input--name,
  &__input--phone,
  &__input--email {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 42px;
    &:focus {
      outline-color: $blue;
      transition: $transition;
    }
  }

  &__input--name-svg,
  &__input--phone-svg,
  &__input--email-svg {
    position: absolute;
    top: 50%;
    left: 3%;
    fill: #212121;
    width: 18px;
    height: 18px;
  }
  &__input--name:focus + &__input--name-svg,
  &__input--phone:focus + &__input--phone-svg,
  &__input--email:focus + &__input--email-svg {
    fill: $blue;
    transition: $transition;
  }

  &__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $blue;
      border: 1px solid $blue;
      transition: $transition;
    }
    &:hover svg {
      fill: $blue;
      transition: $transition;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 12px;
  }
  &__close-svg {
    fill: rgba(0, 0, 0, 1);
    position: relative;
    top: 2px;
    height: 18px;
    width: 18px;
  }
  &__textarea {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    color: rgba(117, 117, 117, 0.5);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    letter-spacing: 1%;
    resize: none;
    margin-bottom: 20px;

    &:focus {
      outline-color: $blue;
      transition: $transition;
    }
  }

  &__sendbutton {
    width: 200px;
    height: 50px;
    background-color: $blue;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    border: 0;
    cursor: pointer;
  }
  &__policies {
    font-size: 14px;
    margin-top: 20px;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 2px solid rgba(33, 33, 33, 1);
      border-radius: 4px;
      position: absolute;
      left: 55px;
      bottom: 142px;
    }
  }
}

.policies-checkbox {
  width: 16px;
  height: 16px;
  display: none;
}
.policies-checkbox:checked + .form__policies::before {
  background-color: $blue;
  border: 1px solid white;
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
*/
