.lorem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__item {
    color: #757575;
    line-height: 1.7;
    max-width: 450px;
    margin-bottom: 30px;
  }

  &__icon-box {
    background-color: #f5f4fa;
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 120px;
  }

  &__title {
    color: rgba(33, 33, 33, 1);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__icon {
    width: 70px;
    height: 70px;
    fill: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    

    &__item {
      max-width: 354px;
      margin-bottom: 30px;
      flex-basis: 48%;
    }

    &__icon-box {
      max-width: 354px;
    }

    &__title {
      justify-content: left;
    }
  }
}
@media screen and (min-width: 1200px) {
  .lorem {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;

    &__item {
      max-width: 270px;
    }

    &__icon-box {
      max-width: 270px;
    }
    &__title {
      justify-content: left;
    }
  }
}
