* {
  margin: 0;
  padding: 0;
}
.blue {
  color: $blue;
}
/*body {
  width: 1600px;
}*/
@media scereen and (min-width: 320px) and (max-width: 787px) {
  .body {
    font-family: "roboto", "Raleway", sans-serif;
    text-decoration: none;
    color: #212121;
    width: 480px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
